{% extends "framework.html" %}
{% block match_list %}
<style type="text/css">
   .hidden {
        display: none;
   {
   .visible {
        display: block;
   }
</style>

<div id="content">

	<div>
	<h2>Seznam sezon:</h2>
	<ul>
	{% for season in season_list %}
	<li><a href="/?season={{ season }}">Sezona {{ season }}</a></li>
	{% endfor %}
	</ul>
	<br><br>
	</div>


	{% for season in matches[0:1] %}
	<div id="div_season_{{ season.season }}" onclick="toggle_visibility('season_{{ season.season }}');"><h2>Sezona: {{ season.season }}</h2></div>
	<div id="season_{{ season.season }}" style="display:block;">

		{% for match in season.list_matches[0:1] %}
		<div id="div_match_{{ season.season }}_{{ match.match_round }}" onclick="toggle_visibility('table_{{ season.season }}_{{ match.match_round }}');"><h3>Tekma {{ match.match_round }} sezone {{ season.season }} - {{ match.match_date }}</h3></div><br>
		<div id="table_{{ season.season }}_{{ match.match_round }}" style="display:block;">
			<table border="1" width="80%">
			<tr>
			<td align="center"><b><font size="3">Ekipa A</font></b></td>
			<td align="center"><b><font size="3">Ekipa B</font></b></td>
			</tr>
			<tr>
			<td align="center"><font size="3"><i>{{ match.teamA_score }}</i></font></td>
			<td align="center"><font size="3"><i>{{ match.teamB_score }}</i></font></td>
			</tr>
			{% for player_pair in match.players %}
			<tr>
			<td align="center">{{ player_pair[0] if player_pair[0] != None }}</td>
			<td align="center">{{ player_pair[1] if player_pair[1] != None }}</td>
			</tr>
			{% endfor %}
			</table> <br><hr><br>
			</div>
		{% endfor %}
		
		{% for match in season.list_matches[1:] %}
		<div id="div_match_{{ season.season }}_{{ match.match_round }}" onclick="toggle_visibility('table_{{ season.season }}_{{ match.match_round }}');"><h3>Tekma {{ match.match_round }} sezone {{ season.season }} - {{ match.match_date }}</h3></div><br>
		<div id="table_{{ season.season }}_{{ match.match_round }}" style="display:none;">
			<table border="1" width="80%">
			<tr>
			<td align="center"><b><font size="3">Ekipa A</font></b></td>
			<td align="center"><b><font size="3">Ekipa B</font></b></td>
			</tr>
			<tr>
			<td align="center"><font size="3">{{ match.teamA_score }}</font></td>
			<td align="center"><font size="3">{{ match.teamB_score }}</font></td>
			</tr>
			{% for player_pair in match.players %}
			<tr>
			<td align="center">{{ player_pair[0] if player_pair[0] != None }}</td>
			<td align="center">{{ player_pair[1] if player_pair[1] != None }}</td>
			</tr>
			{% endfor %}
			</table> <br><hr><br>
			</div>
		{% endfor %}
	</div>
	
	{% endfor %}


</div>



{% endblock %}

